<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhZUlCXTTBicZEwTyDJrKTsydBNoX9lGg</string>
	<key>GCM_SENDER_ID</key>
	<string>515691402790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vault.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vault-offline</string>
	<key>STORAGE_BUCKET</key>
	<string>vault-offline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515691402790:ios:4fba098850e0d5494538e7</string>
</dict>
</plist>